@mixin grid($cols, $margin){
  display: flex;
  background: beige;
  margin-bottom: $margin;
  height: 150px;

  @if($cols >= 5){
    width: 100%;
    margin-right: 0;
  }
  @else {
    width: ((100% - (($cols - 1) * $margin)) / $cols);
    margin-right: $margin;
  }

  &:nth-child(#{$cols}n){  /* обращение к последнему элементу*/
    margin-right: 0;
  }
}

@mixin Font ($color: red, $fontW){
  font-size: $mainFontSIze;
  font-weight: $fontW;
  font-family: Garuda, sans-serif;
  color: $color;
}

@mixin padd($padd...) { /* можно передавать заранее неизвестное количество параметров*/
  padding: $padd;
}

@mixin link($link, $hover, $active, $visited) {
  a { /*при указании тега - вызывать mixin можно просто указав @include(аргументы)*/
    color: $link;

    &:hover {
      color: lighten($link, 80%);
    }

    &:active {
      color: $active;
    }

    @content;
  }
}
