
@import "variables";
@import "mixins";


*{
  padding: 0;
  margin: 0;
}

body{
  background: rgba(189, 183, 107, 0.25);

  h1{
    font-weight: lighter;
  }
}

  @include link(black, red, blue, green);

.header{
  @include link(black, red, blue, green){
    background: blueviolet;

    &:visited{
      color: red;
    }
  }
}

#grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > div {
    @include grid(4, 5%);
  }
}

@for $I from 24 to 29{
  .#{$someVar}-#{$I}{
    width: 50px+$I;
    height: 50px+$I;
  }
}

.block:not(.first){
  @include padd(20px 140px 50px 25px);
  background: $bgColor;
  height: 200px;
  border: $border;
  width: $blockWidth;
  margin-bottom:  20px;
}

#central_block{
  padding: 30px;
  ul{
    list-style: none;
    display: inline-block;
    width: (100%/3);

  }
  li{
    font-family: "Bitstream Charter", sans-serif;
    color: brown;

    a{
      @include Font(#ff0000, semi-bold);

      &:hover{
        color: aquamarine;
      }

    }
  }
  a{
    @include Font($fontW:bold);
  }
}

